includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    tmpDir: storage/framework/cache/phpstan
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - app
        - routes
        - tests
